<div class="custom-gallery-layout">
    <div class="carousel-container">
        <button class="carousel-arrow left-arrow">❮</button>
        <div class="carousel-wrapper">
            <div id="custom-gallery" class="carousel">
                <div class="item next-enter"><img src="images/custom/1.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item next-enter"><img src="images/custom/2.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item next-enter"><img src="images/custom/3.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item next-enter"><img src="images/custom/4.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item next-enter"><img src="images/custom/5.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item next-enter"><img src="images/custom/12.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item active next-enter"><img src="images/custom/7.jpg" alt="Key Ring" class="img-fluid">
                </div>
                <div class="item active next-enter"><img src="images/custom/8.jpg" alt="Key Ring" class="img-fluid">
                </div>
                <div class="item active next-enter"><img src="images/custom/9.jpg" alt="Bracelets" class="img-fluid">
                </div>
                <div class="item active next-enter"><img src="images/custom/10.jpg" alt="Bracelets" class="img-fluid">
                </div>
                <div class="item active next-enter"><img src="images/custom/11.jpg" alt="Bracelets" class="img-fluid">
                </div>
                <div class="item active next-enter"><img src="images/custom/6.jpg" alt="Key Ring" class="img-fluid">
                </div>
            </div>
        </div>
        <button class="carousel-arrow right-arrow">❯</button>
        <div id="carousel-dots" class="carousel-dots">
            <button class="dot"></button><button class="dot active"></button>
        </div>
    </div>
</div>
<div class="custom-gallery-layout">
    <div class="carousel-container"><button class="carousel-arrow left-arrow">❮</button>
        <div class="carousel-wrapper">
            <div id="custom-gallery" class="carousel">
                <div class="item active prev-enter"><img src="images/custom/1.jpg" alt="Bracelets" class="img-fluid">
                </div>
                <div class="item active prev-enter"><img src="images/custom/2.jpg" alt="Bracelets" class="img-fluid">
                </div>
                <div class="item active prev-enter"><img src="images/custom/3.jpg" alt="Bracelets" class="img-fluid">
                </div>
                <div class="item active prev-enter"><img src="images/custom/4.jpg" alt="Bracelets" class="img-fluid">
                </div>
                <div class="item active prev-enter"><img src="images/custom/5.jpg" alt="Bracelets" class="img-fluid">
                </div>
                <div class="item active prev-enter"><img src="images/custom/12.jpg" alt="Bracelets" class="img-fluid">
                </div>
                <div class="item"><img src="images/custom/7.jpg" alt="Key Ring" class="img-fluid"></div>
                <div class="item"><img src="images/custom/8.jpg" alt="Key Ring" class="img-fluid"></div>
                <div class="item"><img src="images/custom/9.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/10.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/11.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/6.jpg" alt="Key Ring" class="img-fluid"></div>
                <div class="item"><img src="images/custom/1.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/2.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/3.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/4.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/5.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/12.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/7.jpg" alt="Key Ring" class="img-fluid"></div>
                <div class="item"><img src="images/custom/8.jpg" alt="Key Ring" class="img-fluid"></div>
                <div class="item"><img src="images/custom/9.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/10.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/11.jpg" alt="Bracelets" class="img-fluid"></div>
                <div class="item"><img src="images/custom/6.jpg" alt="Key Ring" class="img-fluid"></div>
            </div>
        </div><button class="carousel-arrow right-arrow">❯</button>
        <div id="carousel-dots" class="carousel-dots"><button class="dot active" currentslide="0"></button><button
                class="dot" currentslide="1"></button></div>
    </div>
</div>