@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  color: #333;
  font-family: "Itim", serif;
  font-size: clamp(12px, 1.6vw, 16px);
  line-height: 1.5;
  padding: 2vw;
  padding-left: 1vw;
  padding-right: 1.5vw;
  padding-top: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 88svh;
  overflow: hidden;
}

.section {
  border-radius: 0 5vh 5vh 0;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 100vw;
  padding: 2vw;
  border-left: none;
}

.slide-in {
  animation-name: slideInFromLeft;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-timing-function: ease-out; 
}

.overside {
  background-color: transparent;
  border-radius: 20px;
  font-size: clamp(12px, 1.6vw, 16px);
  width: 100vw;
  overflow: auto;
  scrollbar-width: none;
  overflow-x: hidden;
}

.click-highlight {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  animation: click-highlight-animation 1s ease-out;
  pointer-events: none;
}

.navbar-expand-lg .navigate {
  flex-direction: column;
}

.container-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navbar-nav .nav-item {
  border-radius: 5vh 0 0 5vh;
  margin: 0px;
  font-size: clamp(1rem, 1.7vw, 20rem);
  margin-right: 0;
  width: 8vw;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.custom-nav-item.active {
  text-decoration: underline;
  color: black;
  padding-left: 10px;
  opacity: 1;
  border-right: none;
}

h1, h2, a, p, code, pre, .navbar-nav .nav-item .nav-link, #team-introduction h2, #products h2, #team-introduction .section-title h3, #products .section-title h3, #team-introduction .section-title p, #products .section-title p {
  font-family: "Itim", serif;
}

h1, h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

p {
  font-size: clamp(0.8rem, 1em, 1em);
  line-height: 1.6;
}

.navbar-logo {
  width: calc(100%);
  height: auto;
  margin-top: -15px;
  display: block;
}

.nav-item.custom-nav-item:nth-child(1) { background-color: #FFF6E3; }
.nav-item.custom-nav-item:nth-child(2) { background-color: #f7dbf2; }
.nav-item.custom-nav-item:nth-child(3) { background-color: #ded7fb; }
.nav-item.custom-nav-item:nth-child(4) { background-color: #e4f5ff; }
.nav-item.custom-nav-item:nth-child(5) { background-color: #eaf9eb; }

.text-container h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.text-container {
  font-size: clamp(1rem, 1.8vw, 1.8rem);
  text-align: left;
  font-family: "Itim", serif;
  line-height: 1.8;
  color: #333;
  padding: 20px;
  border-radius: 12px;
}

.text-container ol {
  padding-left: 20px;
  margin: 20px 0;
  list-style-type: none;
}

.text-container ol > li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 2vh;
}

.text-container ol > li:before {
  position: absolute;
  left: 0;
  top: 0;
  color: #ff69b4;
  font-size: 1.2rem;
}

.text-container ul {
  padding-left: 40px;
  list-style-type: "🌟";
}

.text-container ul li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.text-container span {
  display: inline-block;
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 2rem);
  color: #ff69b4;
  font-family: 'Comic Sans MS', cursive;
  animation: bounce 2s infinite alternate;
}

.text-container hr {
  border: 0;
  border-top: 2px dashed #ff69b4;
  margin: 20px 0;
}

.logo {
  text-align: center;
}

.card-text {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card.bg-light .card-text {
  color: #333;
  text-shadow: none;
}

.img-fluid {
  margin-bottom: auto;
}

.carousel-inner {
  border-radius: 5vh;
}

.marquee-container {
  background-color: #f8efd9;
  border-radius: 20svb;
  display: inline-flexbox;
  width: 88svi;
  height: 5vh;
  align-items: center;
  color: black;
  border: 0.1vh solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font: bold 10px Arial, sans-serif;
  letter-spacing: 2.5px;
  overflow: hidden;
  position: relative;
}

.marquee-text {
  animation: marquee-scroll 800s linear infinite;
  white-space: nowrap;
  font-size: clamp(0.8rem, 1.7vh, 1.7rem);
}

.marquee-text span {
  padding-right: 20px;
}

.marquee-text span:hover {
  text-decoration: underline;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.navbar {
  color: #fff;
  margin: 10px 0 0;
  padding: 0;
  display: flex;
}

.marquee-navbar {
  flex-direction: unset;
  align-items: center;
}

.second-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.chat-box-comment {
  background-color: #fcedf8;
  border-radius: 3vh;
  padding: 3vh;
}

.chat-box-comment h2 {
  font-size: clamp(1.5rem, 2vw, 20rem);
  font-weight: bolder;
  margin-bottom: 2vw;
  color: #333;
}

.chat-box-comment p {
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 20rem);
}

.chat-box-input input {
  width: 80%;
  height: 5vh;
  border-radius: 3vh;
  padding: 1vw;
  margin-right: 10px;
  border: none;
  font-size: clamp(0.7rem, 1.3vw, 20rem);
}

.chat-box-input button {
  width: 15%;
  height: 5vh;
  border-radius: 3vh;
  background-color: #f295da;
  color: white;
  border: none;
  font-size: clamp(0.7rem, 1.3vw, 20rem);
}
.text-container p{
  font-size: clamp(1rem, 1.3vw, 20rem);
}


@media (min-width: 1000px) {
    .navbar-brand{
        margin-top: 8px;
    }
    
    .custom-nav-item.shadow-active {
        box-shadow: 18px 0 20px rgb(0, 0, 0, 1);
    }
}

@media (max-width: 1000px) {
    .chat-box-comment {
        margin-top: 50px;
    }
    .slide-in {
        animation-name: slideInFromTop;
        animation-duration: 0.7s;
        animation-fill-mode: both;
        animation-timing-function: ease-out;
    }
    .main-container {
      display: flex;
      flex-direction: column;
      margin-top: -20px;
    }
    .section {
      padding-right: 35px;
    }
    body {
      padding: 8px;
      padding-top: 0;
    }
  
    /* .logo .toupi {
      font-size: 8rem;
    } */
  
    /* .logo .bead-bake {
      font-size: 4rem;
      margin-bottom: 50px;
    } */
  
    .section {
      border-radius: 0 0 20px 20px;
    }
    .main-container {
      border-radius: 0 0 20px 20px;
    }
  
    body {
      font-size: 12px;
    }
  
    .cardproduct2 {
      padding-left: 0;
    }
  
    .hero {
      padding: 50px 0;
    }
  
    .navbar-nav {
      --bs-nav-link-padding-y: 0;
    }
  
    .navbar-nav .nav-item {
      margin: 0 2px;
      width: 200px;
      height: 50px;
      text-align: center;
      border-bottom: none;
      border-radius: 20px 20px 0 0;
    }
    .navbar-nav .first {
      margin-left: 0;
    }
    .navbar-nav .last {
      margin-right: 0;
    }
  
    .under {
      margin-top: -20px;
    }
  
    .navbar-logo {
      padding-bottom: 10px;
    }
  
    .marquee-container {
      width: 80vw;
      margin-top: -30px;
    }
  
    .navbar-toggler {
      display: block;
    }
  
    .navbar-collapse {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: unset;
      align-items: center;
      margin-top: 20px;
    }
  
    .section {
      padding-bottom: 50px;
    }
  
    .navbar-nav .nav-item {
      width: 30%;
      text-align: center;
      padding: 10px 0;
      height: 40px;
    }
  
    .navbar-collapse {
      display: block !important;
    }
  }
  